{% extends 'base.html' %}

{% block title%}Craig's Cabin Shit Foraging Guide with references{% endblock %}

{% block content %}
{% for sentence in sentences %}
    {% if sentence.content == '' %}
        <br><br>
    {% elif sentence.is_section %}
        <h2>{{sentence.content}}</h2>
    {% else %}
        <a href="{{sentence.best_candidate['url']}}" title="Page: {{sentence.best_candidate['title']}}&#10;Source: {{sentence.domain}}&#10;Text: {{sentence.best_candidate['sentence']}}&#10;Matching probability: {{sentence.best_candidate['prob']}}" style="background-color:#FFFFFF;color:#000000;text-decoration:none" target="_blank">{{sentence.content}}.</a>
    {% endif %}
{% endfor %}
{% endblock %}


